<%= content_for :title do %>Subir y redimensionar las im치genes<% end %>
<h3>Subir y redimensionar las im치genes</h3>
<p>Redimensiona las im치genes a los tama침os 390x260px, 600x400px y 1185x1185px y las guarda en las carpetas small/large/xlarge y comprime en .zip</p>

<% if @upload.errors.any? %>
<div id="error_explanation" class="alert-box round alert">
  <ul>
  <% @upload.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @upload, html: { class: 'small-10 medium-6 large-4' } do |f| %>
	<%= label_tag :quality, "Calidad de imagen (entre 30-100), por defecto 70:" %>
	<%= f.text_field :quality, placeholder: "Calidad de imagen, por defecto es 70" %>
	<%= f.file_field :image, multiple: true %>
	<%= f.submit "Enviar", class: 'submit' %>
	<%= f.button "Reset", type: 'reset', class: 'reset button secondary' %>
<% end %>

<script>

var formUpload = document.getElementById('new_upload');
var mySubmit = document.querySelector('.submit');
var myReset = document.querySelector('.reset');

setDisabled(formUpload, mySubmit);
resetDisabled(myReset, mySubmit);

</script>